<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center"><br /><br />
                <h2 class="section-heading">FedGeoDay 2019</h2>
                <h3 class="section-subheading-alt1 text-muted" style="text-align:center;">
                    Jan 31, 2019<br />
                    <br />
                    LIAISON CAPITOL HILL<br />
                    <a href="https://www.google.com/maps/place/The+Liaison+Capitol+Hill/@38.895453,-77.013057,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7b7882bf5bca5:0x68fb2da723e9dd3f!8m2!3d38.895453!4d-77.0108683">
                        415 New Jersey Ave. NW<br />
                        Washington, DC 20001
                    </a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Open for Government</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom: 21px;">Learn a little more about what
                    this conference is about.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading-alt1 text-muted">For decades open source software has been at the
                    forefront of innovation in data collection, analysis, and visualization. Today, open source
                    geospatial software has evolved into an "open ecosystem" of software, communities, and companies
                    that enable field data collection and advanced visualization and lead the way in drone, lidar, IOT,
                    and satellite imagery collection and analysis.<br /><br />

                    When open source software combined with open standards for interoperability. Governments have the
                    most scalable, stable, secure and cost effective tools available to support activities including:
                    <ul>
                        <li>Empowering disadvantaged communities with limited funding</li>
                        <li>Enabling real time data analysis at planetary a scale</li>
                        <li>Optimizing release schedules for constituent facing tools</li>
                    </ul>
                    <br />

                    Join us for this one day conference in the heart of Washington DC. The morning plenaries will share
                    how open source geospatial tools have become a critical part of operations within multiple federal
                    agencies. The afternoon break out sessions will tackle technical and management solution use cases.<br /><br />

                    We are committed to making a space where everyone is welcome to participate without fear and
                    have adopted this <a href="http://confcodeofconduct.com/">Code
                        of Conduct</a>

                </h3>

            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Open Data</h4>
                <p class="text-muted">Providing information on demand and in a timely fashion is opening new
                    opportunities for
                    providing services</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-map fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Open Mapping</h4>
                <p class="text-muted">Communities are collecting information to prepare for and improve responses to
                    natural disasters</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Open Geospatial Technology</h4>
                <p class="text-muted">Underpinning all the other efforts are the open source projects and open
                    standards that can be deployed in a variety of ways for people to use in offices or in the field</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center"><br /><br />
                <h2 id="tickets">Purchase Tickets Now</h2>
                <br /><br />
            </div>
        </div>
        <div class="row">
            <div id="eventbrite-widget-container-53225462792"></div>

            <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

            <script type="text/javascript">
                var exampleCallback = function () {
                    console.log('Order complete!');
                };

                window.EBWidgets.createWidget({
                    // Required
                    widgetType: 'checkout',
                    eventId: '53225462792',
                    iframeContainerId: 'eventbrite-widget-container-53225462792',

                    // Optional
                    iframeContainerHeight: 500,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
                    onOrderComplete: exampleCallback  // Method called when an order has successfully completed
                });
            </script>
        </div>
    </div>
</section>