<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">FedGeoDay 2019</h2>
                <h3 class="section-subheading-alt1 text-muted" style="text-align:center;">
                    Jan 31, 2019<br />
                    <br />
                    LIAISON CAPITOL HILL<br />
                    <a href="https://www.google.com/maps/place/The+Liaison+Capitol+Hill/@38.895453,-77.013057,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7b7882bf5bca5:0x68fb2da723e9dd3f!8m2!3d38.895453!4d-77.0108683">
                        415 New Jersey Ave. NW<br />
                        Washington, DC 20001
                    </a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Open for Government</h2>
                <h3 class="section-subheading text-muted" style="margin-bottom: 21px;">Learn a little more about what
                    this conference is about.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading-alt1 text-muted">For decades open source software has been at the
                    forefront of innovation in data collection, analysis, and visualization. Today, open source
                    geospatial software has evolved into an "open ecosystem" of software, communities, and companies
                    that enable field data collection and advanced visualization and lead the way in drone, lidar, IOT,
                    and satellite imagery collection and analysis.</h3>
                <h3 class="section-subheading-alt1 text-muted">When open source software is combined with open
                    standards
                    for interoperability, government agencies have the
                    most scalable, stable, secure and cost effective tools available to support activities including:
                    <ul>
                        <li>Empowering disadvantaged communities with limited funding</li>
                        <li>Enabling real-time data analysis at planetary scale</li>
                        <li>Optimizing release schedules for constituent facing tools</li>
                    </ul>
                </h3>
                <h3 class="section-subheading-alt1 text-muted">Join us for this one day conference in the heart of
                    Washington DC. The morning plenaries will share
                    how open source geospatial tools have become a critical part of operations within multiple federal
                    agencies. The afternoon break out sessions will tackle technical and management solution use cases.
                </h3>
                <h3 class="section-subheading-alt1 text-muted">We are committed to making a space where everyone is
                    welcome to participate without fear andhave adopted this <a href="http://confcodeofconduct.com/">Code
                        of Conduct</a>
                </h3>

            </div>
        </div>
        <div class="row text-center">
            <br />
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Open Data</h4>
                <p class="text-muted">Providing information on demand and in a timely fashion is opening new
                    opportunities for
                    providing services</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-map fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Open Mapping</h4>
                <p class="text-muted">Communities are collecting information to prepare for and improve responses to
                    natural disasters</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Open Geospatial Technology</h4>
                <p class="text-muted">Underpinning all the other efforts are the open source projects and open
                    standards that can be deployed in a variety of ways for people to use in offices or in the field</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" id="scholarship">Furlough Scholarship Program</h2>
                <h3 class="section-subheading-alt1 text-muted">FedGeoDay is a day for networking and learning about
                    open data, open mapping and geospatial technology are helping drive program success for government
                    agencies, NGO's and industry. The government shutdown has made it difficult for many to feel secure
                    in planning to attend or afford an event such as ours. On behalf of the organizers and our sponsors
                    we are reserving 10% of the tickets to FedGeoDay 2019 for Furloughed Federal workers.
                </h3>
                <h3 class="section-subheading-alt1 text-muted">
                If you are a furloughed federal worker and would like to attend FedGeoDay for free, please use the
                “Enter Promo Code” link on the site and enter the following code “2019-furlough”.
                <u>The code can can be used for 1 ticket per order, only once per person, and while supplies last.</u>
                </h3>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Purchase Tickets Now</h2>
                    <div id="eventbrite-widget-container-53225462792"></div>
                </div>
            </div>
        </div>
</section>