<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Open for Government</h2>
                <h3 class="section-subheading text-muted">Learn a little more about what this conference is about.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading-alt1 text-muted">The “Open” ecosystem is leading the way for people who
                    are
                    solving real world problems with data and analysis. Geospatial information and analysis has become
                    part of a larger collection of tools used to work with the ever growing information from IoT,
                    drones, Satellite Imagery, and open data portals.
                    <br />
                    <br />Join us for this one day conference in the heart of Washington DC. The morning plenaries will
                    share how open source geospatial tools have become a critical part of operations within multiple
                    federal agencies.The afternoon break out sessions will tackle technical and management solution use
                    cases.
                    <br />
                    <br />We are committedd to making a space where everyone is welcome to particpate without fear and have adopted this <a href="http://confcodeofconduct.com/">Code
                        of Conduct</a>

                </h3>

            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Open Data</h4>
                <p class="text-muted">Providing information on demand and in a timely fashion is opening new
                    oppurtunities for
                    providing services</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-map fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Open Mapping</h4>
                <p class="text-muted">Communities are collecting information to prepare for and improve responces to
                    natural disasters</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-download fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Open Geospatial Technology</h4>
                <p class="text-muted">Underpinning all the other efforts are the open source projects and open
                    standards that can be deployed in a variety of ways for people to use in offices or in the field</p>
            </div>
        </div>
        <div class="row">
            <div id="eventbrite-widget-container-53225462792"></div>

            <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

            <script type="text/javascript">
                var exampleCallback = function () {
                    console.log('Order complete!');
                };

                window.EBWidgets.createWidget({
                    // Required
                    widgetType: 'checkout',
                    eventId: '53225462792',
                    iframeContainerId: 'eventbrite-widget-container-53225462792',

                    // Optional
                    iframeContainerHeight: 500,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
                    onOrderComplete: exampleCallback  // Method called when an order has successfully completed
                });
            </script>
        </div>
    </div>
</section>