<!-- Agenda Section -->
<section id="agenda">
    <div class="container">
        <div class="flex-container flex-column ">
            <table class="table table-bordered table-striped" width="100%">
                <thead>
                    <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Session</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%">8:00 AM – 9:00 AM</td>
                        <td width="80%"><strong>Coffee And Registration</strong><br />
                            Sign in and mingle with new friends over some coffee.</td>
                    </tr>
                    <tr>
                        <td>9:00 AM – 9:15 AM</td>
                        <td><strong>Welcome</strong></td>
                    </tr>
                    <tr>
                        <td>9:15 AM – 9:45 AM</td>
                        <td><strong>Morning Keynote</strong><br />
                            TBA</td>
                    </tr>
                    <tr>
                        <td>9:45 AM – 10:45 AM</td>
                        <td><strong>Open Mapping and disaster Preparedness Panel</strong>
                            <br />Moderated by Eddie Pickle</td>
                    </tr>
                    <tr>
                        <td>10:45 AM – 11:00 AM</td>
                        <td><strong>Morning Break</strong></td>
                    </tr>
                    <tr>
                        <td>11:00 AM – 12:00 PM</td>
                        <td><strong>Open Source Geospatial Software Panel</strong>
                            <br />Moderated by Anthony Calamito</td>
                    </tr>
                    <tr>
                        <td>12:00 PM – 1:00 PM</td>
                        <td><strong>Lunch</strong>
                            <br /><strong>Afternoon Keynote</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="nomargin" style="border-right: none !important;" width="100%">
                                <tbody>
                                    <tr>
                                        <th width="20%"></th>
                                        <th width="40%" style="border-bottom:black solid 1px;">Business Track</th>
                                        <th width="
                                            40%" style="border-bottom:black solid 1px;">Technical
                                            Track</th>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top">1:00 PM – 1:45 PM</td>
                                        <td valign="top"><strong>VC 101: How &amp; Why VCs Do What They Do (and the Key
                                                Things You Should Know as a Founder)</strong><br><button class="showmorebutton"
                                                onclick="ShowHidekey6()">More Details</button>
                                            <div id="ShowHidekeyDIV6" style="display: none; text-align: left;">
                                                <p class="p1"><span class="s1">Venture capitalists provide the capital
                                                        that builds the apps on your phone, the applications in your
                                                        office, and the services in your browser. Increasingly, the
                                                        cars you drive, the food you eat, and the way you communicate,
                                                        and even date are a result of funded projects. However, many of
                                                        us don’t know how venture capital really operates. How do VCs
                                                        decide where to allocate capital? How do VCs really make money?
                                                        Why do some invest early and some wait to invest later? What is
                                                        an LP? What is a GP? Pre-money vs post-money?<br><br><strong>Speakers:</strong><br>Jonah
                                                        Lopin, Founder and CEO, Crayon<br>Eric Paley, Managing Partner,
                                                        Founder Collective</span></p>
                                            </div>
                                        </td>
                                        <td><strong>The Best Practices and Hard Lessons Learned of Serverless
                                                Applications</strong><br> <button class="showmorebutton" onclick="ShowHidekey1()">More
                                                Details</button>
                                            <div id="ShowHidekeyDIV1" style="display: none; text-align: left;">
                                                <p class="p1"><span class="s1">In November 2014, AWS Lambda introduced
                                                        developers to serverless compute with automatic scaling,
                                                        pay-per-request billing, and built-in high availability. As a
                                                        result, startups and enterprises are changing the way they
                                                        build their applications. Since then, we've learned a lot from
                                                        our customers about what it takes to build successful
                                                        serverless applications. We’ve also seen some common and not so
                                                        common missteps that developers building serverless
                                                        applications have made along the way. Today, we're going to
                                                        share some of those learnings, and show you how you can build
                                                        the best serverless application that you can.<br><br><strong>Speaker:</strong><br>Chris
                                                        Munns, Senior Developer Advocate, AWS</span></p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">1:45 PM – 2:30 PM</td>
                                        <td valign="top"><strong>[We] Power Tech: Building Your Startup Team with
                                                Inclusion in Mind</strong> <br><button class="showmorebutton" onclick="ShowHidekey11()">More
                                                Details</button>
                                            <div id="ShowHidekeyDIV11" style="display: none; text-align: left;">
                                                <p class="p1"><span class="s1">Decades of research reveals that
                                                        inclusive and diverse teams produce better business results.
                                                        How do we prioritize inclusion in technical teams? What can
                                                        founders do – from cultivating the pipeline, to hiring, to
                                                        internal strategies – to make the future of tech more diverse
                                                        and inclusive? Hear from a later-stage venture on diversity and
                                                        inclusion considerations for each phase of a start-up’s
                                                        lifecycle, from the founding phase, to the growth stage, and
                                                        ultimately the hyper-growth stage.<br><br><strong>Speaker:</strong><br>Melodye
                                                        Mueller, VP Marketing &amp; Strategic Alliances, CloudHealth
                                                        Technologies</span></p>
                                            </div>
                                        </td>
                                        <td valign="top"><strong>Keeping Your Infrastructure Costs Low</strong> <br>
                                            <button class="showmorebutton" onclick="ShowHidekey2()">More Details</button>
                                            <div id="ShowHidekeyDIV2" style="display: none; text-align: left;">
                                                <p class="p1"><span class="s1">The less you spend on infrastructure,
                                                        the more you can invest in other areas of your business. We'll
                                                        look at how Spot Instances, Reserved Instances, CloudFront,
                                                        Billing Alarms, and more can help you lower your spend. Learn
                                                        how to quickly identify under-utilized resources and what steps
                                                        to take to remediate those money wasters. You'll build the
                                                        essential cost savings toolkit that is applicable across all
                                                        industries and win the admiration of your future finance team.<br><br><strong>Speaker:</strong><br>Abby
                                                        Fuller, AWS Technical Evangelist</span></p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">2:30 PM – 2:45 PM</td>
                                        <td valign="top"><strong>Break</strong></td>
                                        <td valign="top">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top">2:45 PM – 3:30 PM</td>
                                        <td valign="top"><strong>Building &amp; Selling AI-Powered Enterprise Solutions</strong><br>
                                            <button class="showmorebutton" onclick="ShowHidekey12()">More Details</button>
                                            <div id="ShowHidekeyDIV12" style="display: none; text-align: left;">
                                                <p class="p1"><span class="s1">Machine learning has the potential to
                                                        transform enterprises, leading to the discovery of thousands of
                                                        opportunities for improved efficiencies across marketing,
                                                        sales, and operations. As a result, every enterprise executive
                                                        and board member is asking or being asked: how will your
                                                        organization capitalize? For startups, the opportunity is
                                                        rivaled only by the challenges. How to strike the balance
                                                        between product and service when context is king in
                                                        enterprises? How does one educate customers with so much hype
                                                        in the market? How to demonstrate value in complex enterprise
                                                        sales? Cyft has faced these and many more questions in the
                                                        course of building a startup in the highly regulated, highly
                                                        complex world of healthcare. Cyft founder and CEO, Dr. Leonard
                                                        D'Avolio will share his experiences and lessons learned to help
                                                        other founders accelerate their journeys toward success.<br><br><strong>Speaker:</strong><br>Len
                                                        D'Avolio, Co-founder and CEO, Cyft; Assistant Professor,
                                                        Harvard University</span></p>
                                            </div>
                                        </td>
                                        <td valign="top"><strong>Launching your Application the Amazon Way</strong> <br>
                                            <button class="showmorebutton" onclick="ShowHidekey3()">More Details</button>
                                            <div id="ShowHidekeyDIV3" style="display: none; text-align: left;">
                                                <p class="p1"><span class="s1">We'll show you how to take your
                                                        application and launch it quickly on a variety of AWS
                                                        infrastructure. You'll learn how to leverage CodeStar,
                                                        CodeBuild, CodeDeploy, and Cloud9 to provide your startup with
                                                        reliable, flexible, and cost efficient build pipelines in
                                                        minutes. This will set your technical teams up for faster
                                                        deploys and consistent development environments allowing you to
                                                        focus on your product, not your deployment process. This is a
                                                        key pain point for early stage startups, learn how to solve it
                                                        before it starts to impact your team's productivity<g class="gr_ gr_311 gr-alert gr_spell gr_inline_cards gr_disable_anim_appear ContextualSpelling ins-del multiReplace"
                                                            id="311" data-gr-id="311"></g>.<br><br><strong>Speaker:</strong><br>Chris
                                                        Munns, Senior Developer Advocate, AWS</span></p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">3:30 PM – 4:15 PM</td>
                                        <td valign="top"><strong>Accelerate or Incubate? Making the Right Choice</strong><br>
                                            <button class="showmorebutton" onclick="ShowHidekey13()">More Details</button>
                                            <div id="ShowHidekeyDIV13" style="display: none; text-align: left;">
                                                <p class="p1"><span class="s1">The good news is entrepreneurs just
                                                        starting out have more choices than ever when it comes to
                                                        incubators and accelerators. The bad news relates to the good.
                                                        With all those seeming options, how are you supposed to pick?
                                                        What can you expect from accelerators and incubators? What are
                                                        the questions to ask to narrow your choice down to the right
                                                        programs? <br><br><strong>Speaker:</strong><br>Nick Dougherty,
                                                        Program Director, PULSE@MassChallenge</span></p>
                                            </div>
                                        </td>
                                        <td valign="top"><strong>Securing Customer Data from Day 1</strong> <br>
                                            <button class="showmorebutton" onclick="ShowHidekey4()">More Details</button>
                                            <div id="ShowHidekeyDIV4" style="display: none; text-align: left;">
                                                <p class="p1"><span class="s1">All companies, regardless of size,
                                                        should build with protection of customer data as a top
                                                        priority. This session will examine how to achieve this through
                                                        topics including: operating systems, services and applications
                                                        control responsibilities, the automation of security baselines,
                                                        the configuration of security, and the auditing of controls for
                                                        AWS customer infrastructure. You'll learn key principles of how
                                                        to build a secure organization and protect your customers'
                                                        data. Don't wait until your first security incident before
                                                        putting these best practices in place.<br><br><strong>Speaker:</strong><br>Abby
                                                        Fuller, AWS Technical Evangelist</span></p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">4:15 PM – 5:00 PM</td>
                        <td valign="top"><strong>Closing Remarks + Happy Hour</strong> <br>Closing remarks by Mackenzie
                            Kosut, AWS Global Startup Evangelist followed by a happy hour reception, light appetizers,
                            and drinks provided by AWS.</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>08:00
                                <br>Registration
                            </h4>
                        </div>
                    </li>
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>09:00
                                <br>Welcome
                            </h4>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/agenda/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Eddie Mercury</h4>
                                <h4 class="subheading">Lead Singer, Queen</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A god among men, Eddie is known for so many things.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>09:15
                                <br>Keynote
                            </h4>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/agenda/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Jon Bon Jovi</h4>
                                <h4 class="subheading">Lead Singer, Bon Jovi</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A great guy who cares about his community and the adoring fans.
                                    He has had so many different hari styles you can no longer count them on two hands.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>09:45
                                <br>Open Mapping Panel
                            </h4>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/agenda/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>How We Open Mapping</h4>
                                <h4 class="subheading">Moderator: Tom Magliozzi</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <br /><strong>Huey Duck</strong>
                                    <br />thing 1 @ car talk
                                    <br /><strong>Louei Duck</strong>
                                    <br />Thing 2 @ car talk
                                    <br /><strong>Duey Duck</strong>
                                    <br />thing 3 @ car talk
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>10:45
                                <br>Break
                            </h4>
                        </div>
                    </li>
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>11:00
                                <br>FOSS4G Panel
                            </h4>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/agenda/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Building ont he shoulders of giants</h4>
                                <h4 class="subheading">Moderator: Ray Magliozzi</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    <br /><strong>Pikup Andropov</strong>
                                    <br />Russian chauffeur @ car talk
                                    <br /><strong>Oteka Shawa</strong>
                                    <br />hygiene officer @ car talk
                                    <br /><strong>Haywood Jabuzoff</strong>
                                    <br />customer care representative @ car talk
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>12:00
                                <br>Lunch
                            </h4>
                        </div>
                    </li>
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>13:00
                                <br>Breakout Session 1
                            </h4>
                        </div>
                    </li>
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>13:45
                                <br>Breakout Session 2
                            </h4>
                        </div>
                    </li>
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>14:30
                                <br>Break
                            </h4>
                        </div>
                    </li>
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>14:45
                                <br>Breakout Session 3
                            </h4>
                        </div>
                    </li>
                    <li class="timeline-panel">
                        <div class="timeline-image">
                            <h4>15:30
                                <br>Breakout Session 4
                            </h4>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/agenda/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2012</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/agenda/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut
                                    voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit
                                    vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div> -->
    </div>
</section>