<!-- Agenda Section -->
<section id="agenda">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Day 1 Agenda</h2>
                <h3 class="section-subheading text-muted">Full Schedule for Day 1 (June 11th)</h3>
            </div>
        </div>
        <div class="row">
            <div class="flex-container flex-column">
                <table class="table table-bordered table-striped" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <dl>
                                    <dt>Time</dt>
                                </dl>
                            </th>
                            <th>
                                <dl>
                                    <dt>Sessions</dt>
                                </dl>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in site.data.agenda_for_day_one %}
                            <tr>
                                <td width="20%">
                                    <dl>
                                        <dt>{{session.start_time}}<br />-<br />{{session.end_time}}</dt>
                                    </dl>
                                </td>
                                <td width="80%">
                                    <dl class="text-center">
                                        <dt>{{session.title}}</dt>
                                        {% if session.description %}<dt>{{session.description}}</dt>{% endif %}
                                        {% if session.keynote %}
                                            {% assign person = session.keynote %}
                                            {% include name.html person=person %}
                                        {% endif %}

                                        {% if session.moderators %}
                                        <dt>Moderator{% if session.moderators.size > 1 %}s{% endif %}</dt>
                                        {% for person in session.moderators %}
                                            {% include name.html person=person %}
                                        {% endfor %}
                                        {% endif %}

                                        {% if session.panelists %}
                                        <dt>Panelist{% if session.panelists.size > 1 %}s{% endif %}</dt>
                                        {% for person in session.panelists %}
                                            {% include name.html person=person %}
                                        {% endfor %}
                                        {% endif %}

                                    </dl>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>





    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Day 2 Agenda</h2>
                <h3 class="section-subheading text-muted">Full Schedule for Day 2 (June 12th)</h3>
            </div>
        </div>
        <div class="row">
            <div class="flex-container flex-column">
                <table class="table table-bordered table-striped" width="100%">
                    <thead>
                        <tr>
                            <th>
                                <dl>
                                    <dt>Time</dt>
                                </dl>
                            </th>
                            <th>
                                <dl>
                                    <dt>Sessions</dt>
                                </dl>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for session in site.data.agenda_for_day_two %}
                            <tr>
                                <td width="20%">
                                    <dl>
                                        <dt>{{session.start_time}}<br />-<br />{{session.end_time}}</dt>
                                    </dl>
                                </td>
                                <td width="80%">
                                    <dl class="text-center">
                                        <dt>{{session.title}}</dt>
                                        {% if session.description %}<dt>{{session.description}}</dt>{% endif %}
                                        {% if session.keynote %}
                                            {% assign person = session.keynote %}
                                            {% include name.html person=person %}
                                        {% endif %}

                                        {% if session.moderators %}
                                        <dt>Moderator{% if session.moderators.size > 1 %}s{% endif %}</dt>
                                        {% for person in session.moderators %}
                                            {% include name.html person=person %}
                                        {% endfor %}
                                        {% endif %}

                                        {% if session.speakers %}
                                        <dt>Speaker{% if session.speakers.size > 1 %}s{% endif %}</dt>
                                        {% for person in session.speakers %}
                                            {% include name.html person=person %}
                                        {% endfor %}
                                        {% endif %}

                                        {% if session.panelists %}
                                        <dt>Panelist{% if session.panelists.size > 1 %}s{% endif %}</dt>
                                        {% for person in session.panelists %}
                                            {% include name.html person=person %}
                                        {% endfor %}
                                        {% endif %}
                                    </dl>
                                    {% if session.tracks %}
                                    <table style="width: 100%">
                                        <tbody>
                                            <tr>
                                                {% for subsession in session.tracks %}
                                                <td class="td-half" style="width: 50%">
                                                    <dl>
                                                        <dt>{{subsession.title}}</dt>
                                                        {% if subsession.trainers %}
                                                        <dt>Trainer{% if subsession.trainers.size > 1 %}s{% endif %}</dt>
                                                        {% for person in subsession.trainers %}
                                                            {% include name.html person=person %}
                                                        {% endfor %}
                                                        {% endif %}                                                        
                                                    </dl>
                                                </td>
                                                {% endfor %}
                                            </tr>
                                        </tbody>
                                    </table>
                                    {% endif %}                               
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>