<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Open Source Geospatial in the Federal Government</div>
            <div class="intro-heading">FedGeoDay 2020</div>
            <div class="intro-lead-in">June 11th and 12th</div>
            <div class="intro-lead-in">George Washington University</div>
            <div class="intro-lead-in">Washington, D.C.</div>
            <a href="#subscribe" class="page-scroll btn btn-xl">Join the Mailing List</a>
        </div>
    </div>
</header>
