{% comment %}{% include navbar.html %}{% endcomment %}

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Open Source Geospatial in the Federal Government</div>
            <div class="intro-heading">FedGeoDay 2020</div>
            <div class="intro-lead-in">June 11th and 12th</div>
            <div class="intro-lead-in">George Washington University</div>
            <div class="intro-lead-in">Washington, D.C.</div>
            <!--<a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>-->
            <a href="#subscribe" class="page-scroll btn btn-xl">Join the Mailing List</a>
        </div>
    </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->