<section id="keynote">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Keynote</h2>
                <img src="./assets/img/katie-baynes.png" style="max-width: 90%; width: 400px;">
                <h2 class="section-heading">Katie Baynes - NASA</h2>
                <h3 class="section-subheading text-muted">Using Open Source to build innovative programs, enable fully remote work & expose massive data for more effective use</h3>
            </div>
        </div>
    </div>
</section