<!-- Sponsors Section -->
<section id="sponsors">
    <div class="container">
        <div class="row" style="margin-bottom: 40px">
            <h2 class="section-heading">Host Sponsor</h2>
            <br />
            <br />
            <a href="https://osgeo.us">
                <div class="col-md-8">
                    <img src="img/logos/osgeo-us-logo.svg" class="img-responsive img-centered" alt="OSGeo US Logo">
                </div>
            </a>
        </div>
        <div class="row" style="margin-bottom: 40px">
            <h2 class="section-heading">Gold Sponsors</h2>
            <br />
            <br />
            <a href="https://www.radiantsolutions.com/">
                <div class="col-md-6">
                    <img src="img/logos/radiant-solutions-logo.svg" class="img-responsive img-centered" alt="Radiant Solutions Logo">
                </div>
            </a>
        </div>
        <div class="row">
            <h2 class="section-heading">Silver Sponsors</h2>
            <br />
            <br />
            <a href="https://www.radiantsolutions.com/">
                <div class="col-md-4" style="border: rgb(186, 186, 186) solid 3px;background-color: rgb(186, 186, 186)">
                    <img src="img/logos/locationtech-logo.png" class="img-responsive img-centered" alt="Radiant Solutions Logo">
                </div>
            </a>
        </div>
    </div>
</section>