<!-- Sponsors Section -->
<section id="sponsors">
    <div class="container">
        <div class="row">
            <h2 class="section-heading">Host Sponsor</h2>
            <a href="https://osgeo.us">
                <div class="col-md-8">
                    <img src="img/logos/osgeo-us-logo.svg" class="img-responsive img-centered" alt="OSGeo US Logo">
                </div>
            </a>
        </div>
        <div class="row">
            <h2 class="section-heading">Gold Sponsors</h2>
            <a href="https://www.radiantsolutions.com/">
                <div class="col-md-6">
                    <img src="img/logos/radiant-solutions-logo.png" class="img-responsive img-centered" alt="Radiant Solutions Logo">
                </div>
            </a>
            <a href="https://www.crunchydata.com/">
                <div class="col-md-6">
                    <img src="img/logos/crunchy-logo.svg" class="img-responsive img-centered" alt="Crunchy Data Logo">
                </div>
            </a>
            <a href="https://www.mapbox.com/">
                <div class="col-md-6">
                    <img src="img/logos/mapbox-logo.png" class="img-responsive img-centered" alt="Mapbox Logo">
                </div>
            </a>
        </div>
        <div class="row">
            <h2 class="section-heading">Silver Sponsors</h2>
            <a href="https://www.locationtech.org">
                <div class="col-md-4">
                    <img src="img/logos/locationtech-logo.png" class="img-responsive img-centered" alt="LocationTech Logo">
                </div>
            </a>
        </div>
        <div class="row">
            <h2 class="section-heading">Bronze Sponsors</h2>
            <a href="https://www.appgeo.com">
                <div class="col-sm-2">
                    <img src="img/logos/appgeo-logo.png" class="img-responsive" alt="Applied Geographics, Inc. Logo">
                </div>
            </a>
            <a href="http://www.t-sciences.com/">
                <div class="col-sm-2">
                    <img src="img/logos/t-sciences-logo.png" class="img-responsive" alt="THERMOPYLAE SCIENCES + TECHNOLOGY Logo">
                </div>
            </a>
        </div>
    </div>
</section>