<section id="sponsorship">
    <div class="container">
        <div class="row">
            <h2 class="section-heading">Sponsorship</h2>
            <p>Please consider supporting FedGeoDay with a financial sponsorship. This day conference is being rebooted
                and supported by the OSGeo US and LocationTech Communities. This event is centrally located in
                Washington DC and scheduled to align with the 2019 Esri Federal GIS Conference.</p>
            <p>The goal of this conference is to build and educate existing government, ngo, and educational
                communities around open source geospatial tools and management. This conference is going to be a series
                of panels bringing together community from within the federal government projects currently involved in
                Open Source Geospatial. Sponsorship helps to keep the ticket price low for government, ngo, and
                educational communities. We hope to have 200 participants and have a mix of technical and manajorial
                folks in attendance.</p>
            <p>Below is a sponsor benefit grid including pricing. If you would like to discuss sponsoring further,
                please contact the organizers at <a href="mailto:help@osgeo.us">help@osgeo.us</a></p>

            <table class="
                    table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Platinum</th>
                        <th scope="col">Gold</th>
                        <th scope="col">Silver</th>
                        <th scope="col">Bronze</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>FedGeoDay Tickets</td>
                        <td>4</td>
                        <td>4</td>
                        <td>2</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Logo size on website, agenda, and welcome desk</td>
                        <td>Large</td>
                        <td>Large</td>
                        <td>Medium</td>
                        <td>Small</td>
                    </tr>
                    <tr>
                        <td>Table in Sponosor Area**</td>
                        <td>Full Table</td>
                        <td>Full Table</td>
                        <td>Half Table</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Signage at lunch or branding of nametag lanyard</td>
                        <td>X</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Sponsorship Cost</td>
                        <td>$8,000</td>
                        <td>$5,000</td>
                        <td>$2,500</td>
                        <td>$1,000</td>
                    </tr>
                </tbody>
            </table>
            ** while available
        </div>
</section>