<section id="sponsorship">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsorship</h2>
                <h3 class="section-subheading-alt1 text-muted">Please consider supporting FedGeoDay with a financial
                    sponsorship. The goal of this conference is to build and educate
                    existing government, NGO, and educational communities on open source geospatial tools and
                    management. This conference will include panels, which bring together the community working on open-source and geospatial in the federal context. Sponsorship helps to keep the ticket price low for government,
                    NGO, and educational communities. We hope to have 200 participants and have a mix of technical and
                    managerial folks in attendance.
                </h3>
                <h3 class="section-subheading-alt1 text-muted">Below is a sponsor benefit grid including pricing. If
                    you would like to discuss sponsoring further, please contact the organizers at <a href="mailto:help@osgeo.us">
                        help@osgeo.us</a>
                </h3>
            </div>
            <table id="sponsorship-table" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Platinum</th>
                        <th scope="col">Gold</th>
                        <th scope="col">Silver</th>
                        <th scope="col">Bronze</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>FedGeoDay Tickets</td>
                        <td>12</td>
                        <td>8</td>
                        <td>4</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Logo Size on Website</td>
                        <td>Large</td>
                        <td>Large</td>
                        <td>Medium</td>
                        <td>Small</td>
                    </tr>
                    <tr>
                        <td>Sponsor Call-Out</td>
                        <td>-</td>
                        <td>Day 1</td>
                        <td>Day 1 or 2</td>
                        <td>Day 1 & 2</td>
                    </tr>                    
                    <tr>
                        <td>Sponsorship Cost</td>
                        <td>$5,000</td>
                        <td>$2,500</td>
                        <td>$1,000</td>
                        <td>$500</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>