<div class="col-sm-4" style="margin-bottom: 5px">
    <div class="team-member">
        <img src="assets/img/team/{{ member.img }}" class="img-responsive img-circle" alt="">
        <h4>{{ member._name }}</h4>
        <p class="text-muted">{{ member.position }}</p>
        <ul class="list-inline social-buttons">
            {% if member.linkedin %}
            <li>
                <a href="{{member.linkedin}}">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            {% endif %}
            {% if member.twitter_handle %}
            <li>
                <a href="https://twitter.com/{{member.twitter_handle}}">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            {% endif %}
            {% if member.github %}
            <li>
                <a href="{{member.github}}">
                    <i class="fa fa-github"></i>
                </a>
            </li>
            {% endif %}
            {% if member.medium %}
            <li>
                <a href="{{member.medium}}">
                    <i class="fa fa-medium"></i>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>