@import 'variables';
@import 'sponsorship';
@import 'subscribe';


// this over-rides a funky issues where there's a
// mysterious padding on the right side
// on smaller screens
// answer: https://stackoverflow.com/questions/25887927/bootstrap-some-kind-of-margin-on-mobile-devices-only-right-side
html {
  overflow-x: hidden;
  body {
    overflow-x: hidden;
  }
}

.section-heading {
  @media (max-width: 420px) {
    font-size: 40px !important;
  }
}
