#sponsors {
    .col-gold {
        margin-bottom: 50px;
    }
    @media (max-width: 1000px) {
        text-align: center;
	.col-bronze {
	    float: none;
	    margin: 0 auto;
	    img {
                margin: 0 auto;
	    }
	}
    }
}
