<div class="col-lg-12 text-center">
    <h2 class="section-heading mt-4" >Furlough Scholarship Program</h2>
    <h3 class="section-subheading-alt1 text-muted">FedGeoDay is a day for networking and learning about
        open data, open mapping and geospatial technology are helping drive program success for government
        agencies, NGO's and industry. The government shutdown has made it difficult for many to feel secure
        in planning to attend or afford an event such as ours. On behalf of the organizers and our sponsors
        we are reserving 10% of the tickets to FedGeoDay 2019 for Furloughed Federal workers.
    </h3>
    <h3 class="section-subheading-alt1 text-muted">
    If you are a furloughed federal worker and would like to attend FedGeoDay for free, please use the
    “Enter Promo Code” link on the site and enter the following code “2019-furlough”.
    <u>The code can can be used for 1 ticket per order, only once per person, and while supplies last.</u>
    </h3>
</div>