<!DOCTYPE html>
<html>

{% include head.html %}


<body id="page-top" class="index">

  {% include header.html %}
  {% include about.html %}
  {% include sponsors.html %}
  {% include agenda.html %}
  {% include team.html %}
  {% include sponsorship.html %}
  {% include footer.html %}
  {% include js.html %}
  {% include analytics.html %}
</body>
<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function () {
        console.log('Order complete!');
    };
    if(document.getElementById('eventbrite-widget-container-53225462792')) {
    window.EBWidgets.createWidget({
        // Required
        widgetType: 'checkout',
        eventId: '53225462792',
        iframeContainerId: 'eventbrite-widget-container-53225462792',

        // Optional
        iframeContainerHeight: 600,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
        onOrderComplete: exampleCallback  // Method called when an order has successfully completed
    });
    }
</script>
</html>